:root{
    --clr-neon: rgb(255, 157, 0);
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #000;
}


a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 50px;
    padding: 10px 50px;
    border-radius: 10px;
    border: 5px solid var(--clr-neon);
    color: var(--clr-neon);
    text-decoration: none;
    font-family: 'quicksand', sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 10px var(--clr-neon);
    box-shadow: 0 0 20px var(--clr-neon);
    transition: all .3s ease-in-out;
}

a:hover {
    background-color: var(--clr-neon);
    color: #fff;
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 60px var(--clr-neon);
}


a::before {
    content: "";
    position: absolute;
    top: 140%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-neon);
    transform: 
        perspective(0.2em)
        rotateX(10deg);
        scale:(1.3, 0.40);
        filter: blur(0.5em);
        opacity: 0.6;
        transition: all .3s ease-in-out;
}

a:hover::before {
    opacity: 1;
}